body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
html {
  width: 100%;
  height: 100%;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #088b8a;
}
.navbar-toggle {
  margin-right: 35px;
}
p {
  margin: 0 0 15px;
  line-height: 2;
}

.p_index{
  font-size: 16px;
  text-align: justify;
}

.li_index{
  font-size: 16px !important;
  margin-bottom: 25px;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #00192c;
}
.button-saiba-mais {
  background: none;
  border: none;
  outline: none;
  color: #6d6e71;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  float: right;
}
.button-saiba-mais img {
  display: inline-block;
  margin-right: 10px;
}
.inverse {
  color: white;
}
section h1,
section p {
  color: #6d6e71;
}
.intro-section {
  background: url(../img/bg-pattern-intro.png) repeat-x;
  padding-bottom: 7%;
}
.intro-section .content {
  position: relative;
  padding: 15% 0 0 0;
}
.intro-section .content h1,
.intro-section .content p {
  color: white !important;
}
.intro-section .content p {
  font-size: 18px;
  line-height: 28px;
}
.duvidas-section {
  padding: 80px 0 3% 0;
}
.bg-duvidas {
  background: url(../img/img-duvidas.jpg) no-repeat;
}
.acomp-equipe-section {
  padding: 80px 0 0 0;
  background: #088b8a;
}
.acomp-equipe-section h1.border-bottom:before {
  border-bottom-color: #f9ed32 !important;
  bottom: -10px;
}
.acomp-equipe-section h1,
.acomp-equipe-section p {
  color: white !important;
}
.acomp-user-section {
  padding: 80px 0 0 0;
}
h1.border-bottom {
  position: relative;
  margin-bottom: 35px;
}
h1.border-bottom:before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 100px;
  border-bottom: 6px solid #088b8a;
}
.btn-primary {
  background-color: #088b8a;
  border-color: #088b8a;
}
.btn-primary:hover {
  color: #f9ed32;
  background-color: #00172b;
  border-color: #00172b;
}
.bt-rela {
  background-color: #088b8a;
  border-color: #088b8a;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}
.bt-rela:hover {
  color: #f9ed32;
  background-color: #00172b;
  border-color: #00172b;
}

.bt-rela-active {
  color: #f9ed32;
  background-color: #00172b;
  border-color: #00172b;
  text-transform: uppercase;
  padding: 10px 22px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #088b8a;
  border-color: #088b8a;
  cursor: pointer;
}
.pagination > li > a,
.pagination > li > span {
  color: #088b8a;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #088b8a;
}
.breadcrumb {
  text-transform: uppercase;
  background-color: transparent;
}
#singlebutton {
  margin-top: 10px;
}
section p {
  line-height: 18px;
}
header.header {
  background: url(../img/bg-pattern-intro1.jpg) repeat-x;
  padding-top: 10%;
}
.aux-margin-top {
  margin-top: 40px !important;
}
main {
  margin: 10px 0 80px 0;
}
.table1 thead th {
  background-color: #00172b;
  color: white;
  font-size: 14px;
  text-align: center;
}
.table1 tbody td {
  text-align: center;
}
.table1 thead tr:nth-child(2) th {
  background: #088b8a;
}
.table1 > tbody > tr:nth-of-type(odd) {
  background-color: #cfe8e8;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: #000;
}
.nav-custom {
  padding-top: 10px;
}
.navbar-custom .navbar-brand {
  margin-top: -35px;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #f9ed32;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a:hover {
  color: #f9ed32;
}
.fa-bars {
  color: white;
}
footer {
  background: #e6e7e8;
  padding-bottom: 10px;
}
footer img {
  margin-top: 20px;
}
footer.row {
  margin-right: -50px;
}
.box-search {
  margin-top: 50px;
  margin-left: 17px;
}
.placeholder {
  width: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad the bottom by footer height */
  padding: 0 0 60px 0;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .logo {
    width: 50%;
  }
  .navbar-custom .navbar-brand {
    margin-top: -15px;
  }
  .intro-section .content {
    padding-top: 18%;
  }
  ul.breadcrumb {
    margin-top: 80px;
  }
  .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
  }
  h1 {
    font-size: 34px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .logo {
    width: 68%;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: url(../img/bg-pattern-intro1.jpg) repeat-x;
  }
  .navbar-custom.top-nav-collapse .navbar-brand {
    margin-top: -27px;
  }
  .logo {
    width: 100%;
  }
}
@media (min-width: 992px) {
  ul.breadcrumb {
    margin-top: 0px;
  }
  h1 {
    font-size: 36px;
  }
  .footer-login{
    position:fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    margin-left: 0px;
  }
}

.form-control {
  border-radius: 0px;
}

body.login {
  background: url(../img/interior.png) no-repeat center center fixed;
  /*background-color: #f7f7f7;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main{
  min-height: calc(100% - 360px);
}
#sign-wrapper {
  max-width: 350px;
  margin: 0px auto;
  padding-top: 5%;
  min-height: 85%;
  position: relative;
}
#sign-wrapper a {
  font-size: 13px;
  color: #f7f7f7;
}
#sign-wrapper form {
  background-color: rgba(33, 33, 33, 0.6);
}
#sign-wrapper form.rounded .sign-header {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
#sign-wrapper form.rounded .sign-body .form-group .error {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#sign-wrapper form.circle .sign-header {
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-radius-topright: 50%;
  border-top-right-radius: 50%;
}
#sign-wrapper form.circle .sign-body .form-group .error {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#sign-wrapper input {
  font-size: 14px !important;
}
#sign-wrapper input:focus {
  box-shadow: none;
}
#sign-wrapper .form-group {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
}
#sign-wrapper .form-group:last-child {
  margin-bottom: 0;
}
#sign-wrapper .form-group .input-group .input-group-addon {
  border: none;
}
#sign-wrapper .form-group .input-group input[type=text],
#sign-wrapper .form-group .input-group input[type=password],
#sign-wrapper .form-group .input-group input[type=email] {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}
#sign-wrapper .form-group .input-group i {
  font-size: 23px;
  color: #008888;
}
#sign-wrapper .form-control::-webkit-input-placeholder { color: #008888 }
#sign-wrapper .form-control:-moz-placeholder { color: #008888 }
#sign-wrapper .form-control::-moz-placeholder { color:#008888 }
#sign-wrapper .form-control:-ms-input-placeholder { color: #008888 }

#sign-wrapper .form-group .input-group-addon {
  background-color: white;
  border-radius: 0px !important;
}
#sign-wrapper .ckbox label {
  color: #f7f7f7;
}
#sign-wrapper .brand {
  text-align: center;
  margin-bottom: 20px;
}
#sign-wrapper .brand > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login-btn {
  background:  #008888;
  border-radius: 0px !important;
  color: white;
}

.sign-header {
  color: white;
  padding: 20px 15px;
  margin-bottom: 0px;
}
.sign-header p,
.sign-header strong {
  color: white;
}
.sign-body {
  margin: 0px;
  padding: 15px 0px;
}
.sign-body .form-group .error {
  position: absolute;
  background-color: #e9573f;
  padding: 5px 10px;
  top: 9px;
  color: white !important;
}
.sign-body .form-group:first-child .error {
  left: -205px;
}
.sign-body .form-group:first-child .error:after {
  content: "____";
  position: absolute;
  right: -20px;
  color: #e9573f;
  top: 0px;
}
.sign-body .form-group:last-child .error {
  right: -190px;
}
.sign-body .form-group:last-child .error:before {
  content: "____";
  position: absolute;
  left: -20px;
  color: #e9573f;
  top: 0px;
}
.sign-footer {
  padding: 15px 0px;
}
.lock .sign-text:before {
  top: 40%;
}
.sign-text {
  color: #777;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
.sign-text:before {
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.sign-text span {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  color: white;
  font-weight: 300;
}
.sign-text img {
  position: relative;
}
.sign-text p {
  margin-bottom: 0;
  margin-top: 5px;
}
@media (max-width: 360px) {

}
.ckbox label:before {
  border: none;
}

.errorlist{
  list-style-type: none;
  padding: 0;
  color: #a94442;
  margin: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(../../dashboard/img/loading.gif) center no-repeat rgba(0,0,0, 0.5);
}
