{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-user icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Editar Perfil
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 mx-auto col-sm-12">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Minhas Informações</h5>
                    <form enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="divider row"></div><div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="{{ form.email.id_for_label }}">Email:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                        {{ form.email }}
                                        {% for erro in form.email.errors %}
                                            <span class="form-error">{{ erro }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="{{ form.nome.id_for_label }}">Nome:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        {{ form.nome }}
                                        {% for erro in form.nome.errors %}
                                            <span class="form-error">{{ erro }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="{{ form.celular.id_for_label }}">Celular:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-mobile-alt"></i>
                                            </div>
                                        </div>
                                        {{ form.celular }}
                                        {% for erro in form.celular.errors %}
                                            <span class="form-error">{{ erro }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="imagem" class="">Imagem de perfil</label>
                                <div class="position-relative form-group">
                                    {{ form.imagem }}
                                    {% for erro in form.imagem.errors %}
                                        <span class="form-error">{{ erro }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="divider row"></div>
                        <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-block btn-lg">
                            Salvar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}