  {% load static %}
  <link rel="stylesheet" href="{% static "dashboard/fonts/css/font-awesome.min.css" %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "dashboard/css/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "dashboard/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/bootstrap-datepicker.min.css" %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/css/select2.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/select2-bootstrap.css" %}">
    <script src="{% static "dashboard/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}">
</script>