{% load static %}
<link rel="stylesheet" href="{% static "dashboard/css/style.css" %}">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="widget widget-stats head-box" style="background-color: #0062A3; #727CB6;">
  	<div class="stats-icon"><i class="fa fa-check-square"></i></div>
  	<div class="stats-info">
  		<h4>Avaliações enviadas</h4>
  		<p class="stat-count">{{ quantidade_submissoes }}</p>
  	</div>
  	<div class="stats-link footer-link">
  		<a> <i class="fa fa-arrow-circle-o-right"></i></a>
  	</div>
  </div>
</div>
