{% extends 'dashboard/base_dashboard.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Download das Avaliações Externas</h2>
            <hr>
        </div>

        <!-- começa aqui -->
        <div class="col-md-12">
            <div class="bs-example">
                <div class="x_panel title">
                    <div class="x_title">
                        <h3>Filtrar por UF/Município
                        </h3>
                    </div>

                    <div class="x_content">
                        {% if empty == True %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-danger">
                                    <h4>Nenhuma avaliação foi encontrada para a pesquisa.</h4>
                                </div>
                            </div>
                        </div>
                        {% endif %} {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
        <!--termina aqui  -->
    </div>
</div>

{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        (function($) {
            var chainfield = "#id_estado";
            var url = "{% url 'filtro-submissao-municipos' '__' %}".replace(/\/\w+$/, '')
            var id = "#id_cidade";
            var value = undefined;
            var auto_choose = false;
            var empty_label = "Todos";

            $(document).ready(function() {
                chainedfk.init(chainfield, url, id, value, empty_label, auto_choose);
            });
        })(jQuery || django.jQuery);

        (function($) {
            var chainfield = "#id_cidade";
            var url = "//{{ BASE_URL }}" + "/chaining/filter/common/UnidadeSaude/municipio/dashboard/DiarioCampo/unidade";
            var id = "#id_cnes";
            var value = undefined;
            var auto_choose = false;
            var empty_label = "Todos";

            $(document).ready(function() {
                chainedfk.init(chainfield, url, id, value, empty_label, auto_choose);
            });
        })(jQuery || django.jQuery);
    });
</script>
{% endblock %}
