{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load funcoes %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Visualizar Feedbacks</h2>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="bs-example">
      <div class="x_panel title">
        <div class="x_title">
          <h3>Filtrar feedbacks</h3>
        </div>
        <div class="x_content">
          {# {% crispy form %} #}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="bs-example">
      <div class="x_panel title">
        <div class="x_title">
          <h3>Feedbacks encontrados</h3>
        </div>
        <!-- <table class="table table-hover table-striped table-bordered" id="tabela_usuarios" width="100%">
          <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Perfil</th>
              <th>Tipo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<!-- <script language="javascript" type="text/javascript" charset="utf-8">
  function search() {

    if (search.table !== undefined)
      search.table.destroy();

    search.table = $('#tabela_usuarios').DataTable( {
      "processing": true, "searchDelay": 350,
      "serverSide": true,
      "responsive": true,
      "bLengthChange": false,
      "pagingType": "simple_numbers",
      "iDisplayLength": 10,
      "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Portuguese-Brasil.json"
      },
      "columnDefs": [ {
            "targets": -1,
            "data": null,
            "orderable": false,
            "sClass": "action",
            "render": function(data, type, full, meta){
               if(type === 'display'){

                 var urls = [
                   "{% url 'dashboard:editar-usuario' 0 %}".replace(/\d+\/$/, full[4]),
                   "{% url 'dashboard:remover-usuario' 0 %}".replace(/\d+\/$/, full[4]),
                 ]

                 data = '<a href=' + urls[0] + '>' +
                   '<button class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button>' +
                 '</a>' +
                '<a href=' + urls[1] + '>' +
                     '<button class="btn btn-exclude"><i class="fa fa-' + (full[5] ? 'times' : 'check') + '" aria-hidden="true"></i> ' + (full[5] ? 'Excluir' : 'Reativar') + '</button>' +
                '</a>';
               }
               return data;
            }
       } ],
      "ajax": $.fn.dataTable.pipeline( {
        url: '',
        method: 'POST',
        data: $('form').serializeJSON(),
        pages: 5,
      } )
    } );

  }

  $(document).ready(function(){

    $('select').select2();
    search();

    $('form').submit(function(evt){
      evt.preventDefault();

      search();
    })
  });
</script> -->
{% endblock %}
